<div class="pDetails">
    <ul>
        <li>
            Product Name: 
            <span data-content="name"></span>
        </li>
        <li>
            Product Price: 
            <span class="actualPrice" data-content="price"></span> 
            <span class="aftrDiscountPrice" data-content="discountPrice"></span>
        </li>
        <li>
            Manufacturer: <span data-content="manu"></span>
        </li>
        <li>
            <img data-src="imageUrl" alt="">
        </li>
        <li>
            Rating: <span data-content="rating"></span>
        </li>
    </ul>
</div>